<!DOCTYPE HTML>
<html>
<head>
<title>keiki</title>
	<link rel="icon" href="images/img.ico"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' rel='stylesheet' type='text/css'>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--- start-mmmenu-script---->
<script src="js/jquery.min.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />
<script type="text/javascript" src="js/jquery.mmenu.js"></script>
		<script type="text/javascript">
			//	The menu on the left
			$(function() {
				$('nav#menu-left').mmenu();
			});
		</script>
<!-- start slider -->
	<link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="js/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#ei-slider').eislideshow({
					animation			: 'center',
					autoplay			: true,
					slideshow_interval	: 3000,
					titlesFactor		: 0
                });
            });
        </script>
<!-- start top_js_button -->
<script type="text/javascript" src="js/move-top.js"></script>
   <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- start header -->
<div class="top_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" alt=""/></a>
		</div>
		 <div class="log_reg">
				<ul>
					<li><a href="login.html">Login</a> </li>
					<span class="log"> or </span>
					<li><a href="register.html">Register</a> </li>								   
					<div class="clear"></div>
				</ul>
		</div>	
		<div class="web_search">
		 	<form>
				<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
				<input type="submit" value=" " />
			</form>
	    </div>						
		<div class="clear"></div>
	</div>	
</div>
</div>
<!-- start header_btm -->
<div class="wrap">
<div class="header_btm">
		<div class="menu">
			<ul>
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="products.html">products</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="contact.html">Contact</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div id="smart_nav">
			<a class="navicon" href="#menu-left"> </a>
		</div>
		<nav id="menu-left">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="products.html">products</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="contact.html">Contact</a></li>
				<div class="clear"></div>
			</ul>
		</nav>
	<div class="header_right">
		<ul>
			<li><a href="#"><i  class="art"></i><span class="color1">30</span></a></li>
			<li><a href="#"><i  class="cart"></i><span>0</span></a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</div>
<!-- start slider -->
<div class="slider">
				<!---start-image-slider---->
				<div class="image-slider">
					 <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
						<li>
                            <img src="images/slider-image1.jpg" alt="image06"/>
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>album Nevermind <br>	1991</h2>
                                <h3 class="active">Nevermind is the second studio album by American <br>
									On September 24, 1991 by DGC Records
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/slider-image2.jpg" alt="image01" />
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>Album Bleach <br>	1989</h2>
                                <h3 class="active">Bleach is the debut studio album by the American rock<br>
									On June 15, 1989 by Sub Pop
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/slider-image3.jpg" alt="image02" />
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>Album Utero<br>	1993</h2>
                                <h3 class="active">In Utero is the third and final studio album by American rock<br>
									On September 21, 1993, by DGC Records
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/slider-image4.jpg" alt="image03"/>
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>Album Unplugged MTV <br>	1994</h2>
                                <h3 class="active">MTV Unplugged in New York is a live album by American rock band Nirvana.<br>
									On November 1, 1994 by DGC Records
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/slider-image5.jpg" alt="image05"/>
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>Album The Chosen Rejects <br>	2006</h2>
                                <h3 class="active">The song has not been recorded in the studio<br>
									kurt cobain's death anniversary song
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/slider-image6.jpg" alt="image05"/>
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>Album Nevermind It's an Interview <br>	1992</h2>
                                <h3 class="active">Nevermind It's an Interview is the only officially released interview CD <br>
									of American grunge band Nirvana
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/slider-image7.jpg" alt="image07"/>
                            <div class="ei-title">
                            	<h3 class="btn">$145.99</h3>
                                <h2>Mini Album Smells Like Punk Spirit <br>	1992</h2>
                                <h3 class="active">Smells Like Punk Spirit is the second studio album by American<br> rock band Nirvana<br>
									of American grunge band Nirvana
                                </h3>
                                <h3>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_1.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_2.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_3.png" alt=""></a>
                                	<a class="ei_icons" href="details.html"><img src="images/icon_4.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
						<li><a href="#"><span class="active">Nevermind</span></a><img src="images/thumbs/1.jpg" alt="thumb01" /></li>
                        <li class="hide"><a href="#"><span> Bleach</span></a><img src="images/thumbs/2.jpg" alt="thumb01" /></li>
                        <li class="hide"><a href="#"><span>Utero</span></a><img src="images/thumbs/3.jpg" alt="thumb02" /></li>
                        <li class="hide"><a href="#"><span>Unplugged MTV</span></a><img src="images/thumbs/4.jpg" alt="thumb03" /></li>
                        <li><a href="#"><span>Chosen Rejects</span></a><img src="images/thumbs/5.jpg" alt="thumb04" /></li>
                        <li><a href="#"><span>Nevermind It's an Interview</span></a><img src="images/thumbs/6.jpg" alt="thumb05" /></li>
                        <li><a href="#"><span>Smells Like Punk Spirit</span></a><img src="images/thumbs/7.jpg" alt="thumb07" /></li>
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
            </div><!-- wrapper -->
		</div>
		<!---End-image-slider---->	
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="main">
	<div class="top_main">
		<h2>Album Nevermind </h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image1.jpg" alt=""/>
				<h3>Lithium</h3>
				<span class="price">$0.99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image1.jpg" alt=""/>
				<h3>Come as you are</h3>
				<span class="price">$0,99</span>
				<span class="price1 bg">on sale</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image1.jpg" alt=""/>
				<h3>Something the way</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="top_main">
		<h2>Album Bleach</h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image2.jpg" alt=""/>
				<h3>Blew</h3>
				<span class="price">$o,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image2.jpg" alt=""/>
				<h3>About a girl</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image2.jpg" alt=""/>
				<h3>Love buzz</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="top_main">
		<h2>Album Unplugged MTV </h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image4.jpg" alt=""/>
				<h3>Oh me</h3>
				<span class="price">$o,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image4.jpg" alt=""/>
				<h3>Lake of fire</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image4.jpg" alt=""/>
				<h3>On a plain</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="top_main">
		<h2>Album The Chosen Rejects</h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image5.jpg" alt=""/>
				<h3>Montage of heck</h3>
				<span class="price">$o,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image5.jpg" alt=""/>
				<h3>Sound of dentage</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image5.jpg" alt=""/>
				<h3>Escalator to hell</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="top_main">
		<h2>Album Nevermind It's an Interview</h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image6.jpg" alt=""/>
				<h3>Paper cuts</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image6.jpg" alt=""/>
				<h3>Aneurysm</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image6.jpg" alt=""/>
				<h3>Spank thru </h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
	<div class="top_main">
		<h2>Album Utero</h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image3.jpg" alt=""/>
				<h3>Serve the servants</h3>
				<span class="price">$o,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image3.jpg" alt=""/>
				<h3>Heart-shaped box</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image3.jpg" alt=""/>
				<h3>All apologies</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="top_main">
		<h2>Mini Album Smells Like Punk Spirit</h2>
		<a href="#">show all</a>
		<div class="clear"></div>
	</div>
	<!-- start grids_of_3 -->
	<div class="grids_of_3">
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image7.jpg" alt=""/>
				<h3>Smells Like Punk Spirit</h3>
				<span class="price">$o,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image7.jpg" alt=""/>
				<h3>She comes now</h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="grid1_of_3">
			<a href="details.html">
				<img src="images/slider-image7.jpg" alt=""/>
				<h3>Hairspray queen </h3>
				<span class="price">$0,99</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_top">
<div class="wrap">
<div class="footer">
	<!-- start grids_of_3 -->
	<div class="span_of_3">
		<div class="span1_of_3">
			<h3>text edit</h3>
			<p>Wondering "when will I die?"will create a sense of "live fully" before the inevitable death will come there..</p>
		</div>
		<div class="span1_of_3">
			<h3>twitter widget</h3>
			<p><a href="#">@keikishop</a>Thank you for taking care of yourself as one of nirvana's loyal fans </p>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_mid">
<div class="wrap">
<div class="footer">
	<div class="f_search">
		<form>
			<input type="text" value="" placeholder="Enter email for newsletter" />
			<input type="submit" value=""/>
		</form>
	</div>
	<div class="soc_icons">
			<ul>
				<li><a class="icon1" href="#"></a></li>
				<li><a class="icon2" href="#"></a></li>
				<li><a class="icon3" href="#"></a></li>
				<li><a class="icon4" href="#"></a></li>
				<li><a class="icon5" href="#"></a></li>
			</ul>	
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
<!-- start footer -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
		<!-- scroll_top_btn -->
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
		<!--end scroll_top_btn -->
	<div class="f_nav1">
		<ul>
			<li><a href="#">home /</a></li>
			<li><a href="#">support /</a></li>
			<li><a href="#">Terms and conditions /</a></li>
			<li><a href="#">Faqs /</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
		</div>
	<div class="clear"></div>
</div>
</div>
</div>
</body>
</html>